body{
	text-align: center;
	background-color: black;
}
	p{
	color: white;
	}
	
	h3{
	color: orange;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
	}
	
	li{
	
	}
	
	a{
	color: white;
	font-weight: blod;
	font-size: 24px;
	}
	
	ul{
		list-style-type: none;
		padding-left: 0px;
	}
	
	#Header{
		border: solid 8px black;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		background-color: purple;
	}
	
	#Header h1{
		font-size: 60px;
		font-family: "Passion One";
		color: orange;
		font-weight: bold;
	}
	
	#LeftNav{
		border: solid 8px black;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		float: left;
		padding-bottom: 8px;
		background-color: purple;

	}
	
	#LeftNav img{
	
	}
	
	#LeftNav u1{
	
	}
	
	#LeftNav h3{
	
	}
	
	#Content{
		border: solid 8px black;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		padding: 15px;
		background-color: purple;

	}
	
	#Footer{
		border: solid 8px black;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		background-color: purple;

	}